{
    "parser": "babel-eslint",
    "extends": "react",
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "legacyDecorators": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}